# Binary assets: never apply line-ending conversion to these.
*.h5        binary
*.pickle    binary
*.mp4       binary
*.pb        binary
*.data-00000-of-00001 binary
*.index     binary
*.meta      binary
*.STL       binary
*.stl       binary
*.SLDPRT    binary
*.SLDASM    binary
*.jpg       binary
*.png       binary
